/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2891bf;
  --ifm-color-primary-dark: #2482ac;
  --ifm-color-primary-darker: #227ba2;
  --ifm-color-primary-darkest: #1c6586;
  --ifm-color-primary-light: #2c9fd2;
  --ifm-color-primary-lighter: #35a4d5;
  --ifm-color-primary-lightest: #52b1db;
}
