{{ define "content" }}
<section id="projects" class="my-8">
    <h2 class="text-3xl font-bold text-gray-800 mb-4">Projects</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        {{ range .Projects }}
        <div class="bg-white p-4 rounded-lg shadow-md flex flex-col justify-between h-full">
            <div class="flex justify-between items-center mb-2">
                <h3 class="text-xl font-semibold text-gray-700">{{ .Title }}</h3>
                <a href="{{ .GitHubLink }}" target="_blank" class="text-blue-500 hover:text-gray-400">
                    <i class="icon-github icon-2x"></i>
                </a>
            </div>
            <p class="text-lg text-gray-600">{{ .Description }}</p>
        </div>
        {{ end }}
    </div>
</section>
{{ end }}
