<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100 flex flex-col h-full min-h-screen">
    <header class="bg-gray-800 text-white">
      <div class="container mx-auto flex justify-between items-center py-4">
        <div class="text-2xl font-bold">MaikkunDev</div>
        <nav class="space-x-4">
          <a
            href="https://github.com/maikkundev"
            target="_blank"
            class="hover:text-gray-400"
            ><i class="icon-github icon-2x"></i
          ></a>
        </nav>
      </div>
    </header>
    <main class="container mx-auto p-4 grow">
      <h2 class="text-3xl font-bold text-gray-800 mb-4">About Me</h2>
      <section id="about" class="bg-white p-6 rounded-lg shadow-md">
        <p class="text-lg text-gray-600 mb-4">
          Hi! My name is Michael, I'm a Back-end developer! I'm currently
          studying Computer Science at Ionian University.
        </p>
        <p class="text-lg text-gray-600">
          Below you will find some of my ongoing and finished projects!
        </p>
      </section>
      {{ template "content" . }}
    </main>
    <footer class="bg-gray-800 text-white text-center py-4">
      <p>&copy; MaikkunDev 2024 - Made by me with Go Templates</p>
    </footer>
  </body>
</html>
